*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
section {
    padding: 95px;
}

.hero {
    
    background: url("../images/picture1.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;    
}
.hero h2 {
    font-size: 40px;
    color: lightblue;
    font-weight: 500;
}
.hero h3 {
    font-size: 20px;
    color: lightblue;
}
.button {
    position: relative;
    background: green;
    display: inline-block;
    color: lightblue;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
}
header {
    position: absolute;
    width: 100%;
    padding: 50px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    
}
header a {
    text-decoration: none;
}
header .top {
    color: green;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: space-around;
}
header ul {
    position: relative;
    display: flex;
    font-size: 20px;
}
header ul a {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: green;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

header ul li {
    list-style-type: none;
}

header ul li a:hover {
    color: black;
}

.heading {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    color: lightcoral;
}
.run{
    
    text-align: center;
    margin-bottom: 20px;
    
}
    
    

.heading h2, .flex-row h2, .run h3, .flex-row h3  {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 30px;
    
}   

.box, .box1
{
    padding-top: 80px;
    padding-left: 50px;
    padding-right: 50px;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
    font-size: auto;
    border: 5px solid black;
    border-radius: 40px;
    background-color: whitesmoke;
    
}

.content, .fixed {
    display: flex;
    flex-direction: row;
}


.img {
    height: 300px;
    width: 200px;

}

.img2{
    height: 300px;
    width: 400px;
    
}
.about-me {
    background-color: dodgerblue;

}
.projects {
    background-color: rgba(255, 0, 0, 0.6);
    
}

.contact{
    background-color: coral;
    
}
.content2-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.flex-row{
    text-align: center;
    margin-bottom: 30px;
    color: black;
    
}
.formbox {
    min-width: 30%;
    margin-top: 5px;
}
.formbox form{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.formbox input,
.formbox textarea {
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    background-color:whitesmoke;
    color: black;
}
.formbox form textarea {
    min-height: 200px;
}
.contactInfoBox {
    position: relative;
}
.contactInfoBox .box2{
    position: relative;
    margin-top: 10px;
    display: flex;
}
.text {
    margin-bottom: 20px;
    color: black;
    margin: 20px; 
}
footer {
    background-color: dodgerblue;
    padding: 30px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    
}
footer h2 {
    font-size: 15px;
}
.fa-facebook {
        background: #3B5998;
        color: white;
        padding: 10px;
        font-size: 20px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;     
        
}


@media screen and (max-width:980px) {
    header {
        padding-bottom: 0;
        
        position: absolute;
    }
    
    header a {
        width: 100%;
        text-align: center;
        font-size: 20px;  
        
    }
    header nav ul{
        margin-top: 20px;
        width: 100%;
        justify-content: center;
        
    }
    
    .textbox h2, .textbox h3 {
        flex: 1 100%;
    }
    .about-me {
        flex: 0 32%;
        margin-right:  0;
    }
    .media-content {
        display: block;
    }

    .content {
        display: block;
    }
    .image {
        text-align: center;
    }
    .img {
        width: 80%;
        height: auto;
    }
    .fixed {
        display: block;
    }
    .content1 {
        text-align: center;
    }
    .img2 {
        width: 80%;
        height: auto;
    }
    .content2-container {
        display: block;
        
    }
    
}
/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    section {
    font-size: 10px;
    }
    .box1, .box2{
        font-size: 4.5vw;
    }

}
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px){
    header ul {
        display: block; 
}
    .hero {
        text-align: center;
    }

}